# macOS
.DS_Store

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build / CI
build/
signing/
vendor/bundle/
.bundle/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
fastlane/README.md

# Ruby
Gemfile.lock
